<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estas como loquita</title>
</head>
<navbar>
    <a href="#" id="Inicio"> Inicio </a> <br>
    <a href="#" id="NuevoUsuario">Nuevo Usuario || </a>
    <a href="#" id="Usuarios">Usuarios || </a>
    <a href="#" id="NuevoProducto">Nuevo Producto || </a>
    <a href="#" id="Productos">Productos || </a>
    <a href="#" id="NuevaCategoria">Nueva categoria || </a>
    <a href="#" id="Categorias">Categorias || </a>
    <a href="#" id="NuevoComentario">Nuevo Comentario || </a>
    <a href="#" id="Comentarios">Comentarios</a> <br>
</navbar>
<body>
    <h1>Comentarios</h1>
    <% for(var j=0; j< usuarios.length; j++) { %>
        <% for (var i = 0; i < comentarios.length ; i++) { %>
            <% if (usuarios[j].id_usuario === comentarios[i].id_usuario) { %>
                <ul>
                    <ol>
                        <%=(i+1)%>° <%= usuarios[j].email %> : <%=comentarios[i].descripcion%>
                        <button class="borrarComentario" id=<%= comentarios[i].id_comentario %> >Eliminar</button>
                        <button class="editarComentario" id=<%= comentarios[i].id_comentario %> >Editar</button>
                    </ol>
                </ul>
            <% } %>
        <% } %>
    <% } %>
</body>
<script src="../funciones.js"></script>
</html>