<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estas como loquita</title>
</head>
<navbar>
    <a href="#" id="Inicio"> Inicio </a> <br>
    <a href="#" id="NuevoUsuario">Nuevo Usuario || </a>
    <a href="#" id="Usuarios">Usuarios || </a>
    <a href="#" id="NuevoProducto">Nuevo Producto || </a>
    <a href="#" id="Productos">Productos || </a>
    <a href="#" id="NuevaCategoria">Nueva categoria || </a>
    <a href="#" id="Categorias">Categorias || </a>
    <a href="#" id="NuevoComentario">Nuevo Comentario || </a>
    <a href="#" id="Comentarios">Comentarios</a> <br>
</navbar>
<body>
    <h1>Usuarios</h1>
    <% for (var i = 0; i < usuarios.length ; i++) { %>
        <ul>
            <ol>
                <%=(i+1)%>° <%= usuarios[i].nombre %>  <%= usuarios[i].apellido %>
                <button class="borrarUsuario" id=<%= usuarios[i].id_usuario %> >Eliminar</button>
                <button class="editarUsuario" id=<%= usuarios[i].id_usuario %> >Editar</button>

            </ol>
        </ul>
        <% } %>
</body>
<script src="../funciones.js"></script>
</html>