<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estas como loquita</title>
</head>
<navbar>
    <a href="#" id="Inicio"> Inicio </a> <br>
    <a href="#" id="NuevoUsuario">Nuevo Usuario || </a>
    <a href="#" id="Usuarios">Usuarios || </a>
    <a href="#" id="NuevoProducto">Nuevo Producto || </a>
    <a href="#" id="Productos">Productos || </a>
    <a href="#" id="NuevaCategoria">Nueva categoria || </a>
    <a href="#" id="Categorias">Categorias || </a>
    <a href="#" id="NuevoComentario">Nuevo Comentario || </a>
    <a href="#" id="Comentarios">Comentarios</a> <br>
</navbar>
<body>
    <h1>Productos</h1>
    <% for (var i = 0; i < productos.length ; i++) { %>
        <ul>
            <ol>
                <%=(i+1)%>° <%= productos[i].marca %> || <%=productos[i].descripcion%>  || <%=productos[i].precio%>  || <%=productos[i].stock %>
                <button class="borrarProducto" id=<%= productos[i].id_producto %> >Eliminar</button>
                <button class="editarProducto" id=<%= productos[i].id_producto %> >Editar</button>
            </ol>
        </ul>
        <% } %>
</body>
<script src="../funciones.js"></script>
</html>